body {
  margin: 0;
  padding: 0;
  background-color: #faf7ef;
  font-family: 'Noto Serif JP', serif;
  color: #545454;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 80px;
}

h1, h2, p {
  text-align: center;
  margin: 1em 0;
}

h1 {
  font-size: 1.5rem;
  color: #566a70;
}

h2 {
  font-size: 1.2rem;
  color: #566a70;
  border-bottom: 2px solid #566a70;
  padding-bottom: 4px;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

#guestMessage {
  white-space: pre-line;
  padding: 0 1em;
  line-height: 1.6;
  font-size: 1rem;
}

/* Swiper スライダー設定 */
.swiper {
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
}

.swiper-wrapper {
  padding-left: 100px;
  padding-right: 100px;
  box-sizing: border-box;
}

.swiper-slide {
  width: 400px !important;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent
